h1 {
    color: rgb(0, 38, 255);
}

p {
    color: rgb(25, 51, 62);
}
button {
    color: rgb(249, 251, 245);
    background-color: rgb(44, 51, 182);
}
body {
    background-color: rgb(138, 135, 135);
}