#a{
    font-size: 25px;
}
#b{
    font-size: 10px;
}
#c{
    font-size: 100px;
}

#box1{
    height: 100px;
    width: 100px;
    background-color: green;
    font-size: 10px;
}
#box2{
    background-color: yellow;
    height: 50px;
    width: 40%; 
    font-size: 2em;
}